<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%= APP_TITLE %>
  </title>
  <meta name="description" content="">
  <link rel="icon" type="image/x-icon" href="/dist/dev/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- inject:css -->
  <!-- endinject -->
  <style>
    app {
      padding-top: 0px;
      padding-left: 25px;
      display: inline-block;
    }
  </style>
</head>

<body>

  <app>Loading...</app>

  <!-- inject:js -->
  <!-- endinject -->

  <%= INIT %>
</body>

</html>